body {
    background: gray;
    color: white;
    padding-bottom: 25px;
}

header {
    background: linear-gradient(62deg,#fbab7e,#f7ce68);
    color: white;
    margin-top: -20px;
    height: 70px;
    border: 5px solid #333;
    padding-bottom: 120px;
}

h1 {
    text-align: center;
    padding-top: 20px;
}

h4 {
    text-align: center;
}

#tv-form {
    color: #333;
    float: right;
}

#tv-view {
    margin-right: 10px auto;
}

.tv-show {
    margin-top: 20px;
    margin-right: 10px;
}
.item {
    float: left;
    height: 200px;
    margin: 15px;
    margin-right: 10px;
}

newImg {
    margin: 20px auto;
}

#giphys {
    min-height: 300px;
    background-color: white;
    color: #333;
    border: 5px solid #555;;
    margin: 50px auto;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px auto;
    padding-bottom: 40px;
}